	*,
	html {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		font-family: "HelveticaNeue-Bold";
	}

	body {
		background-color: #FFFFFF;
	}

	/* hamburger menu */
	div {
		width: 2rem;
		height: 1.5rem;
		position: relative;
		display: flex;
		align-items: center;
		margin: 1.5rem 0 0 1rem;
	}

	/* Dit worden de 3 lijnen, before wordt de eerste, 'span' de tweede and after de derde */
	span {
		height: .2rem;
		width: 100%;
		display: block;
		background: #000000;
	}

	span::before,
	span::after {
		content: '';
		height: .2rem;
		width: 100%;
		position: absolute;
		background: #000000;
		transition: 0.3s;
	}

	span::before {
		top: 0px;
	}

	/* Positie ::after aan de onderkant van de div */
	span::after {
		bottom: 0px
	}

	/* 
  Define styles which will be applied when the class 'active' is added to the div wrapper.
  We can actually pass multiple classes to HTML elements, this way we can style the element which hash
  both classes of 'hamburger' and 'active'
*/
	.hamburger.active span {
		background: rgba(0, 0, 0, 0);
		transition: .5s;
	}

	/* We can then also pass specific styles which are only applicable when .hamburger.active exists */
	.hamburger.active span::before {
		transform: rotate(45deg);
		top: 12px;
	}

	.hamburger.active span::after {
		top: 12px;
		transform: rotate(-45deg);
	}

	/***** end of hamburger styles *****/

	/***** start of menu styles *****/

	/* 
  Here we define our base nav styles, notice we pass a translateX of minus 100% allowing us to position
  the nav element out of our viewport. We do so instead of using for example; display: none; because this way
  the content remains accessible for screen readers.
*/
	.navigation {
		transform: translateX(-100%);
		background: #FFFFFF;
		margin-top: 1rem;
		border-left: white solid;
		width: 100%;
		transition: .3s ease-in-out;
		z-index: 2;
	}

	/* When nav gets a second class, namely; 'active', we translate the nav element back into our viewport! */
	nav.active {
		transform: translateX(0);
	}

	ul {
		list-style-type: none;
	}

	a {
		text-decoration: none;
		font-family: "HelveticaNeue-Bold";
		color: #383838;
		font-size: 1.4rem;
		letter-spacing: 0.1rem;
		line-height: 3.5rem;
	}

	a:active {
		color: grey;
	}

	/* slider menu */
	.slider {
		display: flex;
		justify-content: space-between;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		overflow: auto;
		white-space: nowrap;

	}

	.slider li {
		display: list-item;
		padding: 0 24px;
		display: inline-block;
		width: 40%;
	}

	.slider a {
		font-family: "HelveticaNeue-Bold";
		font-size: 14px;
		color: #969696;
		text-decoration: none;
	}

	/* opmaak img */
	header img {
		width: 5rem;
		margin: auto;
	}

	figure img {
		width: 90%;
		margin: 0 1em 1em 1em;
	}

	/* footer algemeen */
	footer {
		padding: 5rem 2rem;
		background-color: black;
		color: #FFFFFF;
	}

	footer h3 {
		font-size: 24px;
	}

	article a {
		display: flex;
		font-size: 16px;
		color: #E5E5E5;
	}

	section {
		display: flex;
	}

	/* formulier footer */
	input:not([type=submit]) {
		width: 95%;
		padding: 1px 1px 10px;
		margin-top: 2em;
		background-color: black;
		border-style: solid;
		border-width: 0px 0px 1px 0px;
		border-color: #383838;

	}

	/* images footer */
	section img {
		width: 1.2em;
		margin: 3em 1em 0 0 
	}

	.pattalogowhite {
		width: 7em;
		margin: auto;
		margin-bottom: 2em;
		display: flex;
		justify-content: center;
	}
